<div class="server-list-container">
  <table [width]="'100%'">
    <tr>
      <td>
        <h2>Server Status List</h2>
      </td>
      <td align="right">
        <button pButton type="button"  icon="pi pi-sign-out" label="Logout" class="p-button-outlined"></button>
      </td>
    </tr>
  </table>
  
</div>
<div class="server-list-card">
  <p-table
    dataKey="id"
    [value]="serverList"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
  >
    >
    <ng-template pTemplate="header">
      <tr>
        <th>Server</th>
        <th>
          <ng-container>
            Status

            <p-columnFilter
              type="text"
              [field]="'status'"
              display="menu"
            ></p-columnFilter>
          </ng-container>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-serverObj>
      <tr>
        <td>{{ serverObj.name }}</td>
        <td [ngSwitch]="serverObj.status">
          <div
            *ngSwitchCase="'Available'"
            [title]="serverObj.status"
            [ngClass]="'base-tag base-available-tag'"
          >
            {{ serverObj.status }}
          </div>

          <div
            *ngSwitchCase="'Not Available'"
            [title]="serverObj.status"
            [ngClass]="'base-tag base-not-available-tag'"
          >
            {{ serverObj.status }}
          </div>

          <div
            *ngSwitchCase="'In Use'"
            [title]="serverObj.status"
            [ngClass]="'base-tag base-inuse-tag'"
          >
            {{ serverObj.status }}
          </div>
        </td>
        <td>
          <button
            (click)="redirect()"
            *ngIf="serverObj.status == 'Available'"
            pButton
            icon="pi pi-sync"
            label="Request Server"
            class="p-button-outlined p-button-success"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
