<div class="server-list-card">
  <div style="margin-left: 10px">
    <h2>Server Status List</h2>
  </div>

  <p-table
    dataKey="id"
    [value]="serverList"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
  >
    >
    <ng-template pTemplate="header">
      <tr>
        <th>Server</th>
        <th>
          <ng-container>
            Status

            <p-columnFilter
              type="text"
              [field]="'status'"
              display="menu"
            ></p-columnFilter>
          </ng-container>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-serverObj>
      <tr>
        <td>{{ serverObj.name }}</td>
        <td [ngSwitch]="serverObj.status">
          <div
            *ngSwitchCase="'Available'"
            [title]="serverObj.status"
            [ngClass]="'available-tag'"
          >
            {{ serverObj.status }}
          </div>

          <div
            *ngSwitchCase="'Not Available'"
            [title]="serverObj.status"
            [ngClass]="'not-available-tag'"
          >
            {{ serverObj.status }}
          </div>

          <div
            *ngSwitchCase="'In Use'"
            [title]="serverObj.status"
            [ngClass]="'inuse-tag'"
          >
            {{ serverObj.status }}
          </div>
        </td>
        <td>
          <button
            *ngIf="serverObj.status == 'Available'"
            pButton
            icon="pi pi-sync"
            label="Request Server"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
