.default-container {
    width: 1100px;
    margin: 0 auto;
    margin-top: 60px;
  }
  
  .default-card {
    background-color: white;
    border-top: 14px solid #314183;
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    padding: 100px;
    line-height: 2.5;
    color: #727272;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 1px 3px 0 rgb(0 0 0 / 12%);
  }