.compliant-tag {
    border-radius: 25px;
    color: white;
    background: #73AD21;
    padding: 2px;
    width: 75px;
    height: 30px;
    text-align: center;
  }

  .compliant-tag-yes {
    background: #22C55E;
  }

  .compliant-tag-no {
    background:#EF4444;
  }

  .compliant-tag-warning {
    background: #F59E0B;
  }