<div [formGroup]="formGroup" class="p-field">
    <label>{{labelCaption}}</label> <small
    style="color: #dc3545"
    class="text-danger"
    *ngIf="hasErrors"
    > *
  </small>
    <br>
    <input
      #textRef
      type="{{type}}"
      name="{{id}}"
      pInputText
      formControlName="{{id}}"
      placeholder="{{placeHolder}}"
      (click)="click()"
      
    />&nbsp;
    <small
      style="color: #dc3545"
      class="text-danger"
      *ngIf="hasErrors"
      >This field is required.
    </small>
  </div>
  